---
layout: portrait
title: ""
portrait: pfp.png
portrait_alt: A picture of Sam. 
portrait_mobile: pfp.png
portrait_caption: Me!
---


<h2>About me</h2>
<p>Hi! I'm Sam, I'm a graduate mathemetician at George Mason University starting this fall. I recently graduated from Oberlin College in May 2026 with a BA in Mathematics and Musical Studies. My mathematics work is primarily in Analysis, and my musical work is primarily as a composer.</p>
<p>This website contains information about my professional and academic work, as well as just some general information about myself and my passion projects. If you'd like to learn more about me, you can find a slightly more extensive description about myself <a href="{{site.url}}/aboutme.html">here.</a> If you have questions for me—about myself, my work, or anything else—feel free to send me an email.</p>

<table id="contact_info">
	<tr><td><h3 class="inline">E-Mail (Primary)</h3> <span class="email" data-localpart="sthiel2" data-domain="gmu.edu"></span></td>    <td><h3 class="inline">E-Mail (Secondary)</h3><span class="email" data-localpart="sthiel" data-domain="oberlin.edu"></span></td></tr>
</table>

<h2>What I'm Up To:</h2>
{% include current_projects.html %}


<h2>Gallery</h2>
<div id="gallery">{% include gallery.html %}</div>