---
layout: portrait
title: ""
portrait: pfp.png
portrait_alt: A picture of Sam. 
portrait_mobile: pfp.png
portrait_caption: Me!
---

<h2>About me</h2>
I am a mathematics and musical studies student at Oberlin College. I do a bunch of things. I'm currently working on getting this site up and running, so stay tuned! I am updating this layout from <a href="[alex]">Alexander Wilson's</a> website, who let me use his website as a template. 


<table id="contact_info">
	<tr><td><h3 class="inline">E-Mail</h3> <span class="email" data-localpart="sthiel" data-domain="oberlin.edu"></span></td><td><h3 class="inline">Office</h3> I wish.</td></tr>
</table>

<h2>Current Projects</h2>
{% include current_projects.html %}


<h2>Gallery</h2>
<div id="gallery">{% include gallery.html %}</div>