---
layout: portrait
title: ""
portrait: pfp.png
portrait_alt: Me!
portrait_mobile: portrait_oberlin_college_thin.jpg
portrait_caption: Me!
---

<h2>About me</h2>
I am a mathematics and musical studies student at Oberlin College. I do a bunch of things. 


<table id="contact_info">
	<tr><td><h3 class="inline">E-Mail</h3> <span class="email" data-localpart="sthiel" data-domain="oberlin.edu"></span></td><td><h3 class="inline">Office</h3> King 204</td></tr>
</table>

<h2>Links</h2>
<h3>Courses</h3>
{% include current_courses.html %}

<h3>Other</h3>
<ul>
	<li><a href="{{ site.url }}/recommendations.html">Asking for <b>recommendation letters</b></a></li>
</ul>

<h2>Gallery</h2>
<div id="gallery">{% include gallery.html %}</div>