<h3>Mathematics: </h3>
<ul>
    <li> Writing and editing my Honors Thesis.</li>
    <li> Waiting to hear back from doctoral programs (wish me luck!).</li>
    <li> Failing to either spell or pronounce Marcinkiewicz on the first try. Or on the second try. Or on the \(n\)th try.</li> 
</ul>

<h3>Media: </h3>
<ul>
    <li> Listening to <a href="https://open.spotify.com/track/79N66aIEb78937ZPMPRHxV?si=e2a8bd37690a4639">killing me faster</a> by Miyolophone.</li>
    <li> Playing <a href="https://store.steampowered.com/app/2868840/Slay_the_Spire_2/">Slay the Spire 2</a>. I played almost 700 hours of STS1—mostly during Covid—so I've been very excited for this one to release. </li>
    <li> Watching <a href="https://www.youtube.com/watch?v=FHNwUiu_8Eg">Jon Bois (on Secret Base)</a> talk about Scorigami in NFL Football (I don't even like sports that much—this series of videos is fascinating though).</li>
</ul>

<h3>Other: </h3>
<ul>
    <li> Playtesting <a href="{{site.url}}/misfits.html">Misfits</a>. </li>
    <li> Theorycrafting new Magic: The Gathering decks.</li>
    <li> Writing music and jamming out. </li>
    <li> Procrastinating. </li>
</ul>