<h3>Mathematics: </h3>
<ul>
    <li> Attending <a href="https://math.unl.edu/ncuwm/">NCUWM</a> and presenting on <a href="{{site.url}}/research.html">Costello Division</a>. (If you attended NCUWM this year, I'd love to get into contact! Shoot me an email)</li>
    <li> Waiting to hear back from doctoral programs (wish me luck!).</li>
    <li> Working on my undergraduate Honors project/thesis.</li>
    <li> Failing to either spell or pronounce Marcinkiewicz on the first try. Or on the second try. or on the $n$th try.</li> 
</ul>

<h3>Media: </h3>
<ul>
    <li> Listening to <a href="https://open.spotify.com/track/5QW0Qa1CS4XcJs2pmAgXKS?si=69324a0b79e84820">To The Stars</a> by Braken.</li>
    <li> Playing <a href="https://store.steampowered.com/app/736260/Baba_Is_You//">Baba Is You</a>. </li>
    <li> Watching <a href="https://www.youtube.com/watch?v=FHNwUiu_8Eg">Jon Bois (on Secret Base)</a> talk about Scorigami in NFL Football (I don't even like sports that much—this series of videos is fascinating though).</li>
</ul>

<h3>Other: </h3>
<ul>
    <li> Playtesting <a href="{{site.url}}/misfits.html">Misfits</a>. </li>
    <li> Theorycrafting new Magic: The Gathering decks.</li>
    <li> Writing music and jamming out. </li>
    <li> Procrastinating. </li>
</ul>