<h3>Mathematics: </h3>
<ul>
    <li> Preparing for an REU Program I'm attending in June.</li>
    <li> Researching grad schools and doctoral programs.</li>
    <li> Beginning my undergraduate Honors project/thesis. </li>
    <li> Getting really mad about the Monty Hall problem. Again. </li> 
</ul>

<h3>Media: </h3>
<ul>
    <li> Listening to <a href="https://open.spotify.com/album/5VEgJeGRLD1U9p0FIaiWp8?si=Ybglr379TPeypWliXhHGnw">Constant Companions</a> by Jamie Paige, and <a href="https://open.spotify.com/album/23Zs9z815Oa3nZzlocBcIe?si=4Z3XhvYISB6gj8MxAO1QuA">Raise the Black Flag</a> by Teminite. </li>
    <li> Playing <a href="https://store.steampowered.com/app/250900/The_Binding_of_Isaac_Rebirth/">The Binding of Isaac</a> and <a href="https://store.steampowered.com/app/3401490/Replicube/">Replicube</a>. </li>
    <li> Watching <a href="https://www.youtube.com/c/3blue1brown">3Blue1Brown</a>, as always.</li>
</ul>

<h3>Other: </h3>
<ul>
    <li> Playtesting <a href="{{site.url}}/misfits.html">Misfits</a>. </li>
    <li> Theorycrafting new Magic: The Gathering decks.</li>
    <li> Writing music and jamming out. </li>
    <li> Procrastinating. </li>
</ul>